.advantage {
  position: relative;

  min-height: 62px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 80px;

  @media (min-width: $tablet_width) {
    padding-top: 112px;
    padding-right: 10px;
    padding-bottom: 45px;
    padding-left: 0;
    width: 265px;
  }

  @media (min-width: $desktop_width) {
    width: 245px;
    padding-right: 0;
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
  }

  &::before {
    top: 1px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $main-green;

    @media (min-width: $tablet_width) {
      top: 0;
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    top: 6px;
    left: 5px;

    width: 50px;
    height: 50px;

    background-size: 50px 50px;

    @media (min-width: $tablet_width) {
      top: 15px;
      left: 15px;
    }
  }

  &--nutrient::after {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--powder::after {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--food::after {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--time::after {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.advantage__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: #444444;

  @media (min-width: $tablet_width) {
    position: static;
    transform: none;

    font-size: 16px;
    line-height: 24px;
  }
}

.advantage__number {
  display: none;

  @media (min-width: $tablet_width) {
    position: absolute;
    top: -39px;
    z-index: -1;

    display: inline;

    font-weight: 400;
    font-size: 281.07px;
    line-height: 281.07px;
    font-family: "Oswald", "Arial", sans-serif;
    color: #f2f2f2;
    // color: red;
  }
}

.advantage--nutrient .advantage__number {
  @media (min-width: $tablet_width) {
    left: 118px;
  }
}

.advantage--powder .advantage__number {
  @media (min-width: $tablet_width) {
    left: 111px;
  }
}

.advantage--food .advantage__number {
  @media (min-width: $tablet_width) {
    left: 113px;
  }
}

.advantage--time .advantage__number {
  @media (min-width: $tablet_width) {
    left: 113px;
  }
}
