.advantages {
  padding-top: 17px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 57px;

    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding-top: 73px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 27px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;

    font-size: 60px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 59px;
  }

  @media (min-width: $desktop_width) {
    padding-right: 0;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.advantages__item:nth-last-child(n + 3) {
  @media (min-width: $tablet-width) {
    margin-bottom: 88px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 0;
  }
}
