.catalog-item {
  padding: 0 20px;
  padding-bottom: 24px;

  border-bottom: 1px solid #ededed;

  @media (min-width: $tablet_width) {
    padding: 0;
    padding-top: 90px;

    border-bottom: none;
  }
}

.catalog-item__wrapper {
  @media (min-width: $tablet_width) {
    width: 324px;
    position: relative;
    padding-top: 1px;
    padding-bottom: 40px;

    background-color: #f2f2f2;
  }

  @media (min-width: $desktop_width) {
    width: 245px;
  }
}

.catalog-item__inner {
  display: flex;
  margin-bottom: -4px;

  @media (min-width: $tablet_width) {
    flex-direction: column;
    margin-bottom: 33px;
    margin-top: -79px;
  }
}

.catalog-item__description {
  order: 1;
  flex-grow: 1;

  padding-top: 21px;

  @media (min-width: $tablet_width) {
    align-self: stretch;
    padding: 0 37px;
  }
}

.catalog-item__name {
  display: block;
  width: 100px;
  margin: 0;
  margin-bottom: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: rgba(17, 17, 17, 1);
  text-transform: uppercase;

  @include set_focus;

  &:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.8);
  }

  &:active {
    color: rgba(17, 17, 17, 0.6);
  }

  @media (min-width: $tablet_width) {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 27px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}

.catalog-item__characteristics {
  width: 100%;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;

  border-collapse: collapse;

  @media (min-width: $tablet_width) {
    font-size: 16px;
  }
}

.catalog-item__row {
  @media (min-width: $tablet_width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog-item__signature,
.catalog-item__value {
  padding: 0;

  @media (min-width: $tablet_width) {
    padding-bottom: 7px;
  }
}

.catalog-item__row:not(:first-child) .catalog-item__signature,
.catalog-item__row:not(:first-child) .catalog-item__value {
  @media (min-width: $tablet_width) {
    padding-top: 8px;
  }
}

.catalog-item__value {
  text-align: right;
}

.catalog-item__image-wrapper {
  position: relative;
  z-index: -1;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  @media (min-width: $tablet_width) {
    z-index: 0;

    display: flex;
    align-items: flex-end;
    width: 324px;
    height: 208px;
    margin-bottom: 33px;

    &:hover,
    &:focus {
      outline: none;

      .catalog-item__image {
        opacity: 0.8;
      }
    }

    &:active .catalog-item__image {
      opacity: 0.6;
    }
  }
}

.catalog-item__wrapper-btn {
  margin: 0;

  @media (min-width: $tablet_width) {
    text-align: center;
  }
}

.catalog-item__button {
  @media (min-width: $tablet_width) {
    width: calc(100% - 75px);
  }
}

.catalog-item__show-more {
  position: relative;
  padding-top: 79px;

  @media (min-width: $tablet_width) {
    padding: 0 35px;
    padding-top: 163px;
    padding-bottom: 40px;

    background: none;
    border: 1px solid #e6e6e6;
  }

  &::before {
    content: "";

    position: absolute;
    top: 26px;
    left: 50%;

    width: 30px;
    height: 30px;
    margin-left: -15px;

    opacity: 0.2;
    background-image: url("../img/icon-plus-mobile.svg");

    @media (min-width: $tablet_width) {
      top: 54px;

      width: 60px;
      height: 60px;

      margin-left: -30px;

      background-image: url("../img/icon-plus.svg");
    }
  }
}

.catalog-item__show-more-title {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet_width) {
    width: 175px;
    margin: 0 auto;
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 20px;
  }
}

.catalog-item__show-more-description {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
  text-align: center;

  @media (min-width: $tablet_width) {
    width: 225px;
    margin: 0 auto;
    margin-bottom: 84px;

    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $desktop_width) {
    width: auto;
  }
}
