.catalog {
  padding-top: 15px;

  @media (min-width: $tablet_width) {
    padding-top: 42px;
  }

  @media (min-width: $desktop_width) {
    padding-top: 60px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 28px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;

  @media (min-width: $tablet_width) {
    padding: 0;
    margin-bottom: 75px;

    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  margin: 0 -20px;
  padding: 0;

  list-style: none;
  border-top: 1px solid #ededed;

  @media (min-width: $tablet_width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

    border: none;
  }
}

.catalog__item:nth-last-child(n + 3) {
  @media (min-width: $tablet_width) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 0;
  }
}

.catalog__item:nth-last-child(n + 5) {
  @media (min-width: $desktop_width) {
    margin-bottom: 52px;
  }
}
