.categories__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (min-width: $tablet_width) {
  .categories__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
