.extra {
  padding-top: 28px;
  padding-bottom: 35px;

  @media (min-width: $tablet_width) {
    padding-top: 67px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop_width) {
    padding-top: 76px;
    padding-bottom: 86px;
  }
}

.extra__title {
  position: relative;

  margin: 0;
  margin-bottom: 34px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;

  @media (min-width: $tablet_width) {
    margin-bottom: 80px;
    padding: 0 36px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 80px;
    padding: 0;
  }

  &::before {
    @media (min-width: $tablet_width) {
      content: "";
      position: absolute;
      top: 22px;
      left: -30px;

      width: 28px;
      height: 3px;

      background-color: $main_green;
    }

    @media (min-width: $desktop_width) {
      left: -110px;

      width: 70px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: -20px;

    width: 53px;
    height: 3px;

    background-color: $main_green;

    @media (min-width: $tablet_width) {
      top: 22px;
      right: -30px;

      width: 327px;
    }

    @media (min-width: $tablet_width) {
      right: -109px;

      width: 956px;
    }
  }
}

.extra__wrapper {
  @media (min-width: $desktop_width) {
    display: flex;
    justify-content: space-between;
  }
}

.extra__list {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;

  list-style: none;

  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet_width) {
    margin-bottom: 69px;

    border: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop_width) {
    width: 895px;
    margin: 0;
    padding-left: 2px;

    border: none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
  }
}

.extra__event-container {
  position: relative;

  padding: 0 50px;
  padding-top: 189px;
  width: 280px;
  height: 289px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");

  @media (min-width: $tablet_width) {
    width: 708px;
    height: 200px;
    padding-top: 72px;
    padding-right: 0;
    padding-left: 421px;

    background-position: 0 -350px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop_width) {
    width: 245px;
    height: 289px;
    padding: 0;
    padding-top: 186px;

    background-position: center;
  }

  &::before {
    content: "";

    position: absolute;
    top: 65px;
    left: 50%;

    width: 55px;
    height: 60px;
    margin-left: -27.5px;

    background-image: url("../img/icon-gift.svg");

    @media (min-width: $tablet_width) {
      top: 65px;
      left: 90px;
    }

    @media (min-width: $tablet_width) {
      left: 50%;
      margin-left: -27.5px;
    }
  }
}

.extra-event {
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: white;
  text-align: center;

  @media (min-width: $tablet_width) {
    width: 170px;

    line-height: 19px;
    text-align: left;
  }

  @media (min-width: $desktop_width) {
    margin: 0 auto;

    text-align: center;
  }
}
