.first-screen {
  padding-top: 27px;
  padding-bottom: 22px;

  font-family: "Oswald", "Arial", sans-serif;
  color: white;
  text-align: center;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-width: $tablet_width) {
    position: relative;
    padding-top: 58px;
    padding-bottom: 533px;

    text-align: left;
    color: #111111;

    background-image: none;
  }
}

.first-screen__wrapper {
  @media (min-width: $tablet_width) {
    width: 415px;
    margin-left: 87px;
  }
}

.first-screen__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet_width) {
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
  }
}

.first-screen__slogan {
  margin-bottom: 28px;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet_width) {
    margin-bottom: 44px;

    font-size: 20px;
    line-height: 20px;
  }
}

.first-screen__image-wrapper {
  margin: 0;
  margin-bottom: 1px;
  padding: 0;

  @media (min-width: $tablet_width) {
    position: absolute;
    top: 255px;
    left: 50%;
    z-index: -1;

    margin-left: -354.5px;
  }
}

.first-screen__image {
  @media (min-width: $tablet_width) {
    width: 709px;
    height: auto;
  }
}

.first-screen__link {
  @media (min-width: $tablet_width) {
    width: auto;
    margin-left: 3px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 17px;
    padding-left: 25px;

    font-size: 20px;
    line-height: 20px;
  }
}
