.first-screen {
  position: relative;

  padding-top: 27px;
  padding-bottom: 22px;

  font-family: "Oswald", "Arial", sans-serif;
  color: white;
  text-align: center;

  @media (min-width: $tablet_width) {
    padding-top: 42px;
    padding-bottom: 533px;

    text-align: left;
    color: #111111;
  }

  @media (min-width: $desktop_width) {
    padding-top: 93px;
    padding-bottom: 268px;
  }

  ::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    height: 305px;

    background-color: #64a83b;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-size: 320px auto;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }

    @media (min-width: $tablet_width) {
      display: none;

      background-image: none;
    }
  }
}

.first-screen__wrapper {
  @media (min-width: $tablet_width) {
    width: 420px;
    margin-left: 87px;
  }

  @media (min-width: $desktop_width) {
    margin-left: 80px;
  }
}

.first-screen__title {
  max-width: $mobile-max-width;
  margin: 0 auto;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet_width) {
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
  }
}

.first-screen__slogan {
  margin-bottom: 302px;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet_width) {
    margin-bottom: 44px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 53px;
  }
}

.first-screen__image {
  position: absolute;
  top: 166px;
  left: 50%;

  transform: translateX(-50%);


  @media (min-width: $tablet_width) {
    top: 243px;
    z-index: -1;
  }

  @media (min-width: $desktop_width) {
    top: 13px;
    left: 766px;
  }
}

.first-screen__link {
  @media (min-width: $tablet_width) {
    width: auto;
    margin-left: 3px;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 17px;
    padding-left: 25px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop_width) {
    margin-left: 0;
  }
}
