.main-nav {
  position: relative;

  @media (min-width: $tablet_width) {
    display: flex;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -54px;
  right: 0;

  margin-top: 12px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet_width) {
    display: none;
  }

  @include set_focus;
}

.main-nav--show .main-nav__toggle {
  right: 3px;
}

.no-js .main-nav__toggle {
  display: none;
}

.main-nav__icon:hover rect,
.main-nav__icon:hover polygon,
.main-nav__icon:focus rect,
.main-nav__icon:focus polygon {
  opacity: 0.8;
}

.main-nav__icon:active rect,
.main-nav__icon:active polygon {
  opacity: 0.6;
}

.main-nav__icon {
  &--open {
    width: 24px;
    height: 18px;
  }

  &--close {
    display: none;
  }
}

.main-nav--show .main-nav__icon--open {
  display: none;
}

.main-nav--show .main-nav__icon--close {
  display: block;
  width: 18px;
  height: 18px;
}

.main-nav__list {
  display: none;
  margin: 0 -20px;
  padding: 0;

  list-style: none;
  text-align: center;

  @media (min-width: $tablet_width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 440px;
    margin: 0;
    padding-top: 18px;
  }

  @media (min-width: $desktop_width) {
    width: 478px;
  }
}

.main-nav--show .main-nav__list,
.no-js .main-nav__list {
  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 20px;

  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet_width) {
    padding-top: 0;
    padding-bottom: 8px;

    border: none;
  }

  &--active {
    @media (min-width: $tablet_width) {
      border-bottom: 2px solid $main-green;
    }
  }
}

.main-nav--main-page .main-nav__item--active {
  @media (min-width: $desktop_width) {
    border-color: white;
  }
}

.main-nav__link {
  font-weight: 500;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(17, 17, 17, 1);

  @media (min-width: $tablet_width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.86px;
  }

  @media (min-width: $desktop_width) {
    font-size: 20px;
    line-height: 24.86px;
  }

  @include set_focus;

  &[href]:hover,
  &:focus {
    color: rgba(17, 17, 17, 0.6);
  }

  &[href]:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.page-header--main-page .main-nav__link {
  @media (min-width: $desktop_width) {
    color: rgba(255, 255, 255, 1);
  }
}

.page-header--main-page .main-nav__link[href]:hover,
.page-header--main-page .main-nav__link:focus {
  @media (min-width: $desktop_width) {
    color: rgba(255, 255, 255, 0.6);
  }
}

.page-header--main-page .main-nav__link[href]:active {
  @media (min-width: $desktop_width) {
    color: rgba(255, 255, 255, 0.3);
  }
}
