.main-nav {
  position: relative;

  @media (min-width: $tablet_width) {
    display: flex;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -54px;
  right: 0;

  width: 24px;
  height: 18px;
  margin-top: 12px;
  padding: 0;

  background: url("../img/icon-mobile-menu.svg");
  border: none;
  cursor: pointer;

  @media (min-width: $tablet_width) {
    display: none;
  }
}

.main-nav--show .main-nav__toggle {
  width: 18px;
  height: 18px;

  background: url("../img/icon-close.svg");
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__list {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;

  @media (min-width: $tablet_width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 18px;
    width: 440px;
  }
}

.main-nav--show .main-nav__list,
.main-nav--nojs .main-nav__list {
  display: block;
}

.main-nav__item {
  border-top: 1px solid #e6e6e6;
  padding-top: 22px;
  padding-bottom: 20px;

  @media (min-width: $tablet_width) {
    padding-top: 0;
    padding-bottom: 8px;

    border: none;
  }

  &--active {
    @media (min-width: $tablet_width) {
      border-bottom: 2px solid $main-green;
    }
  }
}

.main-nav__link {
  font-weight: 500;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet_width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.86px;
    color: #222222;
  }
}
