.page-footer {
  background-color: #f2f2f2;

  @media (min-width: $tablet_width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $max-width;
  }
}

.page-footer__wrapper {
  padding-top: 40px;
  padding-bottom: 22px;

  @media (min-width: $tablet_width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 58px;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop_width) {
    padding-top: 60px;
    padding-bottom: 56px;
  }

  &--internal {
    @media (min-width: $desktop_width) {
      padding-top: 59px;
      padding-bottom: 56px;
    }
  }

  &--form {
    @media (min-width: $tablet_width) {
      padding-bottom: 59px;
    }
  }
}

.page-footer__logo-link {
  position: relative;

  display: block;
  margin-bottom: 27px;

  text-align: center;

  @include set-focus;

  @media (min-width: $tablet_width) {
    margin: 0;
    margin-top: 4px;
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.page-footer__logo-link[href]:hover .page-footer__logo,
.page-footer__logo-link:focus .page-footer__logo {
  opacity: 0.8;
}

.page-footer__logo-link[href]:active .page-footer__logo {
  opacity: 0.6;
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 22px;
  padding-top: 22px;
  padding-right: 82px;
  padding-bottom: 17px;
  padding-left: 73px;

  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet_width) {
    margin: 0;
    margin-left: 19px;
    padding: 0;
    width: 124px;

    border: none;
  }
}

.page-footer__social-link {
  position: relative;

  display: block;

  @include set_focus;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.page-footer__social-link:hover,
.page-footer__social-link:focus {
  fill: $main-green;
}

.page-footer__social-link:active {
  opacity: 0.3;
}

.page-footer__vk {
  @media (min-width: $tablet_width) {
    width: 30px;
    height: 16px;
  }
}

.page-footer__insta {
  @media (min-width: $tablet_width) {
    width: 23px;
    height: 23px;
  }
}

.page-footer__fb {
  @media (min-width: $tablet_width) {
    width: 14px;
    height: 28px;
  }
}

.page-footer__link-academy {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;

  @include set-focus;

  @media (min-width: $tablet_width) {
    padding-top: 10px;
  }

  @media (min-width: $desktop_width) {
    padding-top: 0;
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.page-footer__link-academy:hover,
.page-footer__link-academy:focus {
  fill: $main-green;
}

.page-footer__link-academy:active .page-footer__link-academy-text,
.page-footer__link-academy:active .page-footer__link-academy-image {
  opacity: 0.3;
}

.page-footer__link-academy-text {
  margin-top: 8px;

  @media (min-width: $tablet_width) {
    margin-right: 22px;
  }
}
