.page-header {
  padding-top: 6px;

  border-bottom: 1px solid #ededed;

  @media (min-width: $tablet_width) {
    display: flex;
    padding-top: 24px;
    padding-bottom: 12px;

    border: none;
  }

  @media (min-width: $desktop_width) {
    position: relative;

    padding-top: 54px;
  }

  &--main-page::after {
    @media (min-width: $desktop_width) {
      content: "";

      position: absolute;
      top: 0;
      left: 690px;
      z-index: -1;

      width: 680px;
      height: 696px;

      background-color: #64a83b;
      background-image: url("../img/index-background-desktop@1x.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 680px auto;
      }
    }
  }
}

.page-header__logo {
  position: relative;

  display: flex;
  align-items: center;
  width: calc(100% - 46px);
  padding-top: 5px;
  padding-bottom: 12px;

  @include set_focus;

  @media (min-width: $tablet_width) {
    margin-right: auto;
    padding: 0;
  }

  &:focus,
  &[href]:hover {
    .page-header__logo-image,
    .page-header__logo-signature {
      opacity: 0.8;
    }
  }

  &[href]:active {
    .page-header__logo-image,
    .page-header__logo-signature {
      opacity: 0.6;
    }
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.page-header__logo-image {
  width: 33px;
  height: 38px;
  // margin-right: 57px;

  @media (min-width: $tablet_width) {
    width: 173px;
    height: 58px;
    margin-right: 0;
  }

  @media (min-width: $desktop_width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-signature {
  width: 101px;
  height: 18px;
  margin-top: 1px;

  position: absolute;
  left: calc(50% + 23px);
  transform: translateX(-50%);

  @media (min-width: $tablet_width) {
    display: none;
  }
}
