.product {
  position: relative;

  padding: 30px 20px;
  padding-bottom: 20px;

  background-color: #f2f2f2;

  @media (min-width: $tablet_width) {
    padding-top: 76px;
    padding-left: 53px;
    padding-right: 280px;
    padding-bottom: 62px;
  }

  @media (min-width: $desktop_width) {
    width: 570px;
    padding-right: 25px;
    padding-left: 52px;
  }

  &--pro {
    @media (min-width: $tablet_width) {
      padding-right: 315px;
    }

    @media (min-width: $desktop_width) {
      padding-right: 25px;
    }
  }

  &::before,
  &::after {
    content: "";

    position: absolute;
  }

  &::before {
    top: 24px;
    left: 22px;

    width: 50px;
    height: 50px;

    background-color: $main-green;
    border-radius: 50%;

    @media (min-width: $tablet_width) {
      top: 92px;
      right: 62px;
      left: auto;

      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop_width) {
      top: 47px;
      right: auto;
      left: 52px;

      width: 100px;
      height: 100px;
    }
  }

  &--pro::before {
    @media (min-width: $tablet_width) {
      top: 91px;
      right: 60px;
    }

    @media (min-width: $desktop_width) {
      top: 47px;
      right: auto;
    }
  }

  &--slim::after {
    top: 22px;
    left: 30px;

    width: 35px;
    height: 49px;

    background-image: url("../img/icon-cat-slim.svg");

    @media (min-width: $tablet_width) {
      top: 80px;
      right: 92px;
      left: auto;

      width: 140px;
      height: 194px;
    }

    @media (min-width: $desktop_width) {
      top: 41px;
      right: auto;
      left: 66px;

      width: 79px;
      height: 97px;

      background-repeat: no-repeat;
    }
  }

  &--pro::after {
    top: 35px;
    left: 13px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");

    @media (min-width: $tablet_width) {
      top: 135px;
      right: 28px;
      left: auto;
      width: 268px;
      height: 112px;
    }

    @media (min-width: $desktop_width) {
      top: 69px;
      right: auto;
      left: 34px;

      width: 134px;
      height: 56px;
    }
  }
}

.product__title {
  margin: 0;
  margin-bottom: 29px;
  margin-left: 71px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet_width) {
    margin-left: 0;
    margin-bottom: 25px;

    font-size: 36px;
    line-height: 37.02px;
  }

  @media (min-width: $desktop_width) {
    margin-left: 162px;
    margin-bottom: 74px;
  }
}

.product__description {
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 22px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: #444444;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet_width) {
    margin-bottom: 34px;

    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 9px;
  }
}

.product__link {
  position: relative;

  padding-right: 45px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  vertical-align: top;
  color: rgba(17, 17, 17, 1);
  text-transform: uppercase;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 96px;
    transform: translateY(-50%);

    width: 24px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
  }

  @include set_focus;

  &:focus,
  &:hover {
    &::after {
      width: 33px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
    }
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);

    &::after {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet_width) {
    padding-right: 60px;

    font-size: 20px;
    line-height: 20px;

    &::after {
      left: 128px;
    }
  }
}
