.questionnaire {
  padding-top: 15px;
  padding-bottom: 33px;

  @media (min-width: $tablet_width) {
    padding-top: 42px;
    padding-bottom: 72px;
  }

  @media (min-width: $desktop_width) {
    padding-top: 60px;
    padding-bottom: 83px;
  }
}

.questionnaire__title {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;

  @media (min-width: $tablet_width) {
    margin-bottom: 55px;

    font-size: 60px;
    line-height: 60px;
  }
}

.questionnaire__description {
  margin: 0;
  margin-bottom: 39px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet_width) {
    margin-bottom: 63px;
    padding: 0 40px;

    width: 465px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop_width) {
    margin-bottom: 63px;
    padding: 0;
  }
}
