.slider {
  position: relative;

  @media (min-width: $tablet_width) {
    padding-top: 1px;
    padding-bottom: 68px;

    background-color: #f2f2f2;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 1;

      width: 50%;

      background-color: #eaeaea;
    }

    @media (min-width: $desktop_width) {
      &::after {
        width: 395px;
      }
    }
  }
}

.slider__list {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  @media (min-width: $tablet_width) {
    position: relative;
    z-index: 2;

    margin-top: -170px;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop_width) {
    margin-top: -192px;
    margin-bottom: 30px;
  }
}

.slider__slide {
  display: none;

  width: 320px;

  @media (min-width: $tablet_width) {
    position: relative;
    left: 46px;

    width: 690px;
  }

  @media (min-width: $desktop_width) {
    left: 0;
  }
}

.slider__controls {
  position: relative;
  left: 3px;

  display: flex;
  width: 198px;
  margin: 0 auto;

  @media (min-width: $tablet_width) {
    left: 0;
    z-index: 2;

    width: 570px;
  }

  @media (min-width: $desktop_width) {
    left: -15px;
  }
}

.slider__signature {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;

  &:first-of-type {
    margin-right: auto;
  }

  @media (min-width: $tablet_width) {
    padding-top: 7px;
    padding-bottom: 6px;

    font-size: 20px;

    border-bottom: 1px dotted #bebebe;
  }
}

.slider__scale {
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);


  display: flex;
  width: 84px;
  height: 14px;

  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 20px;

  @media (min-width: $tablet_width) {
    left: 50%;

    width: 428px;
    height: 6px;
    margin-right: 20px;

    background-color: #dcdcdc;
    border: none;
  }
}

.slider__switch {
  position: absolute;
  top: 50%;
  left: 5px;

  width: 35px;
  height: 6px;
  margin-top: -3px;

  background-color: $main-green;
  border-radius: 20px;

  @media (min-width: $tablet_width) {
    left: 0;

    width: 34px;
    height: 34px;
    margin-top: -17px;
    margin-left: -17px;

    background-color: white;
    border: 1px solid #cdcdcd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    outline: none;

    &::after {
      content: "";

      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 8px;
      height: 8px;

      background-color: $main-green;
      border-radius: 50%;
    }
  }
}

.slider__btn {
  position: absolute;
  bottom: 0%;
  left: 35%;
  transform: translate(-50%, -50%);

  opacity: 0;

  &--2 {
    left: 65%;
  }

  @media (min-width: $tablet_width) {
    bottom: 15%;
  }
}

.tabulated .slider__btn:focus ~ .slider__controls .slider__switch {
  @include set-focus-outline;
}

.slider__btn--1:checked ~ .slider__list .slider__slide--1 {
  display: block;
}

.slider__btn--2:checked {
  & ~ .slider__list .slider__slide--2 {
    display: block;
  }

  & ~ .slider__controls .slider__switch {
    left: auto;
    right: 5px;

    @media (min-width: $tablet_width) {
      right: 0;
    }
  }
}

.slider__label {
  position: absolute;
  left: 0;
  z-index: 1;

  width: 50%;
  height: 100%;

  cursor: pointer;

  &:last-of-type {
    left: 50%;
  }
}

@media (min-width: $tablet_width) {
  .slider__label {
    &:hover ~ .slider__scale .slider__switch {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active ~ .slider__scale .slider__switch {
      border: 2px solid $main-green;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }

  .slider__label:first-of-type:hover ~ .slider__signature:first-of-type,
  .slider__label:last-of-type:hover ~ .slider__signature:last-of-type {
    border-bottom: 1px solid #989898;
  }

  .slider__label:first-of-type:active ~ .slider__signature:first-of-type,
  .slider__label:last-of-type:active ~ .slider__signature:last-of-type {
    padding-bottom: 7px;

    border-bottom: none;
  }
}
