.slider {
  text-align: center;

  @media (min-width: $tablet_width) {
    position: relative;
  }
}

.slider__list {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  @media (min-width: $tablet_width) {
    display: flex;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.slider__slide {
  display: none;

  @media (min-width: $tablet_width) {
    display: block;
    width: 50%;
    padding-bottom: 110px;

    text-align: right;

    background-color: #f2f2f2;
  }

  @media (min-width: $desktop_width) {
    width: 325px;
  }

  &--2 {
    @media (min-width: $tablet_width) {
      text-align: left;

      background-color: #eaeaea;
    }

    @media (min-width: $desktop_width) {
      background-color: transparent;
    }
  }
}

.slider__btn--1:checked ~ .slider__list .slider__slide--1,
.slider__btn--2:checked ~ .slider__list .slider__slide--2 {
  display: block;
}

.slider__image-before-mobile,
.slider__image-after-mobile {
  width: 320px;
  height: 240px;

  @media (min-width: $tablet_width) {
    display: none;
  }
}

.slider__image-before-tablet,
.slider__image-after-tablet {
  display: none;

  @media (min-width: $tablet_width) {
    display: inline;
    width: 300px;
    height: 520px;
    margin-top: -172px;
  }
}

.slider__controls {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6px;

  @media (min-width: $tablet_width) {
    position: absolute;
    bottom: 67px;
    left: 50%;
    transform: translateX(-50%);

    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    left: 325px;
  }
}

.slider__signature {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-transform: uppercase;

  &:first-of-type {
    margin-right: 19px;

    @media (min-width: $tablet_width) {
      margin-right: 24px;
    }
  }

  @media (min-width: $tablet_width) {
    padding-top: 7px;
    padding-bottom: 6px;

    font-size: 20px;

    border-bottom: 1px dotted #bebebe;
  }
}

.slider__controls:hover .slider__signature {
  @media (min-width: $tablet_width) {
    border-bottom: 1px solid #989898;
  }
}

.slider__controls:active .slider__signature {
  @media (min-width: $tablet_width) {
    padding-bottom: 7px;

    border-bottom: none;
  }
}

.slider__scale {
  position: relative;

  display: flex;
  width: 84px;
  height: 14px;
  margin-right: 17px;

  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 20px;

  @media (min-width: $tablet_width) {
    width: 428px;
    height: 6px;
    margin-right: 20px;

    background-color: #dcdcdc;
    border: none;
  }
}

.slider__label {
  width: 50%;
  height: 100%;

  cursor: pointer;
}

.slider__switch {
  position: absolute;
  top: 50%;
  left: 5px;

  width: 35px;
  height: 6px;
  margin-top: -3px;

  background-color: $main-green;
  border-radius: 20px;
  cursor: pointer;

  @media (min-width: $tablet_width) {
    left: 50%;

    width: 34px;
    height: 34px;
    margin-top: -17px;
    margin-left: -17px;

    background-color: white;
    border: 1px solid #cdcdcd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    outline: none;
  }

  &::after {
    @media (min-width: $tablet_width) {
      content: "";

      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 8px;
      height: 8px;

      background-color: $main-green;
      border-radius: 50%;
    }
  }
}

.slider__controls:hover .slider__switch {
  @media (min-width: $tablet_width) {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }
}

.slider__controls:active .slider__switch {
  @media (min-width: $tablet_width) {
    border: 2px solid $main-green;

    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }
}

.tabulated .slider__btn:focus ~ .slider__controls .slider__switch {
  @include set-focus-outline;
}

.slider__btn--2:checked ~ .slider__controls .slider__switch {
  left: auto;
  right: 5px;

  @media (min-width: $tablet_width) {
    left: 50%;
    right: auto;
  }
}
